﻿
@model MvcApplication.Models.RecentEventModel

<div id="templatemo_content">

    <div id="templatemo_slider">

        <div id="one" class="contentslider">
            <div class="cs_wrapper">
                <div class="cs_slider">

                    <div class="cs_article">
                        <a href="#">
                            <img src="~/Content/images/article01.jpg" alt="Artist's interpretation of article headline" />
                        </a>

                        <div class="text">
                            <h2><a href="http://www.Ftemplate.ru" target="_parent"> @Model.Title  <span>   DATE</span></a></h2>

                            <p>
                                Hendrerit tincidunt vero vel eorum claritatem. Soluta legunt quod qui dolore.
                            </p>

                            <a class="readmore" href="#">Read More</a>
                        </div>
                    </div><!-- End cs_article -->

                    <div class="cs_article">
                        <a href="#">
                            <img src="~/Content/images/article02.jpg" alt="Artist's interpretation of article headline" />
                        </a>

                        <div class="text">
                            <h2> <a href="http://www.Ftemplate.ru" target="_parent">Project Two    <span>   DATE</span></a></h2>

                            <p>
                                Lorem ipsum dolor sit ame, consectetur adipiscing elit. In tincidunt.
                            </p>

                            <a class="readmore" href="#">Read More</a>
                        </div>
                    </div><!-- End cs_article -->

                    <div class="cs_article">
                        <a href="#">
                            <img src="~/Content/images/article03.jpg" alt="Artist's interpretation of article headline" />
                        </a>

                        <div class="text">
                            <h2> <a href="http://www.Ftemplate.ru" target="_parent">Project Three     <span>   DATE</span></a></h2>

                            <p>
                                Hendrerit tincidunt vero vel eorum claritatem. Soluta legunt quod qui dolore.
                            </p>

                            <a class="readmore" href="#">Read More</a>
                        </div>
                    </div><!-- End cs_article -->

                    <div class="cs_article">
                        <a href="#">
                            <img src="~/Content/images/article04.jpg" alt="Artist's interpretation of article headline" />
                        </a>

                        <div class="text">
                            <h2> <a href="http://www.Ftemplate.ru" target="_parent">Project Four      <span>   DATE</span></a></h2>

                            <p>
                                Aliquam elit risus, volutpat quis, mattis ac, elementum eget, mauris.
                            </p>

                            <a class="readmore" href="#">Read More</a>
                        </div>
                    </div><!-- End cs_article -->

                </div><!-- End cs_slider -->
            </div><!-- End cs_wrapper -->
        </div><!-- End contentslider -->
        <!-- Site JavaScript -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.ennui.contentslider.js"></script>
        <script type="text/javascript">
            $(function () {
                $('#one').ContentSlider({
                    width: '630px',
                    height: '160px',
                    speed: 800,
                    easing: 'easeInOutBack'
                });
            });
        </script>
        <script src="~js/jquery.chili-2.2.js" type="text/javascript"></script>
        <script src="~js/chili/recipes.js" type="text/javascript"></script>


    </div>   <!-- end of slider -->

    <div class="post_section">

        <h2><a href="#">Free CSS Template</a></h2>

        <div class="post_content">

            May 24th in <a href="http://www.Ftemplate.ru" target="_parent">Web Template</a> by <a href="http://www.Ftemplate.ru" target="_parent">Ftemplate.ru</a>

            <a href="#"><img src="~/Content/images/templatemo_image_01.jpg" alt="image" /></a>
            <p><a href="http://www.Ftemplate.ru" target="_parent">Ftemplate.ru</a> provides high quality <a href="http://www.Ftemplate.ru" target="_parent">free css templates</a> for your personal or commercial websites. All website templates are  free to download, modify and apply for your websites without any restriction. Have fun!</p>

            <a href="#" class="more">Continue reading...</a> | <a href="#" class="comment">Comments (124)</a>

        </div>

    </div>

    <div class="post_section">

        <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>

        <div class="post_content">

            May 24th in <a href="http://www.Ftemplate.ru" target="_parent">Web Template</a> by <a href="http://www.Ftemplate.ru" target="_parent">Ftemplate.ru</a>

            <a href="#"><img src="~/Content/images/templatemo_image_02.jpg" alt="image" /></a>

            <p>Ut nec vestibulum odio. Vivamus vitae nibh eu sem malesuada rutrum et sit amet magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent aliquam velit a magna sodales quis elementum ipsum auctor. Ut at metus leo, et dictum sem.</p>

            <a href="#">Continue reading...</a> | <a href="#">Comments (286)</a>

        </div>

    </div>

</div> <!-- end of content -->