﻿@{
    Layout = null;
}
@model MvcApplication.Models.RecentEventModel

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Paper Blog - free website template</title>
    <meta name="keywords" content="paper blog template, free html css layout" />
    <meta name="description" content="Paper Blog - Free CSS Template provided by Ftemplate.ru" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/jquery.ennui.contentslider.css" rel="stylesheet" type="text/css" media="screen,projection" />
</head>
<body>
    <div id="templatemo_wrapper">
        <div id="templatemo_left_column">

            <div id="site_title">
                <h1><a href="http://www.Ftemplate.ru" target="_parent">Blog <span>Create by Maslovskaya</span></a></h1>
            </div>

            <div id="templatemo_menu">
                <ul>
                    <li><a href="#" class="current">Главная</a></li>
                    <li><a href="http://www.Ftemplate.ru" target="_parent">Архив</a></li>
                    <li><a href="http://www.koflash.com" target="_parent">Галерея</a></li>
                    <li><a href="#">Моя страница</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div><!-- end of templatemo_menu -->

            <div id="templatemo_sidebar">

                <div class="sidebar_box">

                    <h2>Последние заметки</h2>

                    <div class="news_box">
                        <h3><a href="#">Morbi dapibus dolor sit amet metus suscipit iaculis</a></h3>
                        <p>Cras nisl eros, elementum eu, iaculis vitae, viverra ut, ligula. Pellentesque metus. Duis dolor.</p>
                    </div>

                    <div class="news_box">
                        <h3><a href="#">Donec a purus vel purus sollicitudin placerat</a></h3>
                        <p>Nunc at sem. Sed pellentesque placerat augue. Mauris pede nisl, placerat nec, lobortis vitae, dictum sed, neque.</p>
                    </div>

                    <div class="news_box">
                        <h3><a href="#">Duis nulla diam, posuere ac, varius id, ullamcorper sit amet, libero</a></h3>
                        <p>Nam sodales, pede vel dapibus lobortis, ipsum diam molestie risus, a vulputate risus nisl pulvinar lacus.</p>
                    </div>

                    <div class="news_box">
                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                        <p>Nulla et nunc commodo ante ornare imperdiet. Donec nunc neque, pulvinar a, vestibulum eget, luctus id, orci. </p>
                    </div>

                </div>

            </div>

        </div> <!-- end of templatemo_left_column -->

      @RenderBody()

    </div> <!-- end of templatemo_wrapper -->
    <div id="templatemo_footer_wrapper">
        <div id="templatemo_footer">

            <ul class="footer_menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Gallery</a></li>
                <li class="last_menu"><a href="#">Contact</a></li>
            </ul>

            Copyright © 2048 <a href="#">Your Company Name</a> | Designed by <a href="http://www.Ftemplate.ru" target="_parent">Free CSS Templates</a> | Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>


        </div> <!-- end of footer -->
    </div>
    

</body>
</html>