/*
Credit: http://www.Ftemplate.ru
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #000000;
	background: #f2e7ca url(images/templatemo_body.jpg) top center no-repeat;
}

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
		
a:link, a:visited { color: #5e7d05; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #CC6600; text-decoration: underline; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: 5px solid #FFFFFF; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_20 { margin-right: 20px; }
.margin_right_40 { margin-right: 40px; }

.fl {
	float: left;
}

.fr {
	float: right;
}

#templatemo_wrapper {
	width: 990px;
	margin: 0 auto;
}

#templatemo_left_column {
	float: left;
	width: 260px;
}

#templatemo_left_column #site_title {
	width: 180px;
	height: 100px;
	padding-top: 60px;
	padding-left: 80px;
	background: url(images/templatmeo_site_title.jpg) no-repeat;
}

#templatemo_left_column #site_title h1 {
	margin: 0;
	padding: 0;
}

#templatemo_left_column #site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #71960c;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_left_column #site_title h1 a span {
	display: block;
	margin-top: 5px;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	letter-spacing: 2px;
}

#templatemo_menu {
	width: 220px;
	height: 220px;
	padding-left: 40px;
	margin: 0 auto;
	background: url(images/templatemo_menu.jpg) no-repeat ;
}

#templatemo_menu ul {
	margin: 0;
	padding: 20px 0 0 20px;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
}

#templatemo_menu ul li a {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
	padding-left: 25px;
	text-decoration: none;
	color: #7d6c3e;	
	font-weight: bold;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	color: #39210f;	
	background: url(images/templatemo_menu_hover.png) center left no-repeat;
}

#templatemo_sidebar {
	min-height: 255px;
	padding: 30px 30px 0 50px;
	background: url(images/templatemo_sitebar.jpg) no-repeat top;
	
}

.sidebar_box {
	clear: both;
	margin-bottom: 30px;
}

.sidebar_box h2 {
	margin-bottom: 15px;
	font-size: 18px;
}

.news_box  {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #333;
}

.news_box h3 a {
	font-size: 14px;
	text-decoration: underline;
}

#templatemo_content {
	float: right;
	width: 630px;
	padding: 100px 60px 0 40px;
	background: url(images/templatemo_content.jpg) top no-repeat;
}

#templatemo_slider {
	clear: both;
	width: 630px;
	height: 160px;
	margin-bottom: 40px;
	padding-bottom: 20px;
	border: 1px dashed #300;
}

.post_section {
	clear: both;
	padding-bottom: 20px;
	background: url(images/templatemo_divider.jpg) bottom repeat-x;	
	margin-bottom: 20px;
}

.post_section .post_content {
	padding: 0 0 0 50px;
}

.post_section h2 {
	font-size: 28px;
	color: #749d07;
	padding: 10px 0 10px 50px;
	background: url(images/templatemo_header.png) no-repeat bottom left;
}

.post_section p {
	margin-bottom: 20px;
}

.post_section img {
	margin: 20px 0;
}

#templatemo_footer_wrapper {
	clear: both;
	width: 100%;
	background: #92bf19 url(images/templatemo_footer.jpg) top center no-repeat;
}

#templatemo_footer {
	clear: both;
	width: 970px;
	padding: 180px 0 10px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
}

#templatemo_footer a {
	font-weight: bold;
	color: #fff;
	text-decoration: underline;
}

#templatemo_footer a:hover {
	text-decoration: none;
}

#templatemo_footer .footer_menu {
	margin: 0 0 5px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #fff;
}

.footer_menu .last_menu {
	border: none;
}